.mainDashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    width: 95vw;
    margin: 20px auto;
    gap: 20px
}

.mainDashboard>* {
    background-color: #242424;
    border-radius: 8px;
    padding: 30px;
    min-height: 300px;
}

@media only screen and (max-width: 650px) {
    .mainDashboard {
        grid-template-columns: 1fr;
    }
    .mainDashboard>* {
        padding: 10px;
    }
}