.schoolBox {
    background-color: #555555;
    position: absolute;
    bottom: 100%;
    width: 350px;
    left: 0;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    overflow: hidden;
    border: 5px solid #555555;
}

.educationFounder:hover .schoolBox {
    transition-delay: 1s;
    visibility: visible;
    opacity: 1;
}

.bannerSchool>* {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 130px;
    background-size: cover;
    background: white;
}

.firstLineSchoolBox {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    /*Get it in front*/
    transform: translate(0);
}

.descSchool.boxSchool {
    width: 100%;
}

.lastLineDescSchoolBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* align-items: flex-end; */
}

.lastLineDescSchoolBox>*:last-child {
    margin-top: -10px;
}

.alumnisSchoolBox {
    margin-top: 10px;
    font-weight: 500;
}

.picturesSchoolBox {
    display: flex;
    gap: -0px;
}

.pictureSchoolBox {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: -12px;
}

.pictureSchoolBox:first-child {
    margin-left: inherit;
}

.pictureSchoolBox:hover {
    z-index: 3;
}