.mainFounders {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    gap: 20px;
}

.error {
    display: flex;
    background-color: #242424;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-radius: 8px;
}

.founder {
    background-color: #484848;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
}

.firstLineFounder {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.imgFounder {
    height: 150px;
    border-radius: 8px;
}

.rightFirstLineFounder {
    text-align: left;
    align-items: flex-start;
}

.nameFounder {
    font-size: 24px;
    font-weight: 700;
}

.networksFounder {
    display: flex;
    gap: 8px;
    margin-top: 5px;
}

.networkFounder {
    display: flex;
    align-items: center;
    transition: 0.2s;
    opacity: 0.5;
}

.networkFounder:hover {
    opacity: 1;
    transform: translate(-1px, -2px);
}


/*Second line founder*/

.secondLineFounder {
    display: flex;
    width: 100%;
    gap: 20px
}

.secondLineFounder>* {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px
}


/* .secondLineFounder>*:first-child {
    border-right: 1px solid #898989;
    padding-right: 10px;
}

.secondLineFounder>*:last-child {
    padding-left: 10px;
} */

.educationFounder {
    display: flex;
    flex-direction: inherit;
    gap: 10px;
    align-items: center;
    position: relative;
}

.educationFounder>* {
    z-index: 1;
}

.educationFounder::before {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    z-index: 0;
    content: " ";
    padding: 15px;
    box-sizing: content-box;
    background-color: #414141;
    border-radius: 8px;
    transition: 0.2s;
    opacity: 0;
}

.educationFounder:hover::before {
    opacity: 1;
}

.logoSchool {
    height: 70px;
    border-radius: 8px;
}

.descSchool {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameSchool {
    font-weight: 600;
}

@media only screen and (max-width: 650px) {
    .mainFounders {
        grid-area: inherit;
        flex-direction: column;
    }
    .founder {
        padding: 10px;
    }
}