.listNetworks {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

.networks {
    display: flex;
    gap: 7px;
    color: #b0b0b0;
}

.networks:hover {
    color: white;
}

.logoNetworks {
    width: 20px;
}

@media only screen and (max-width: 650px) {
    .mosaique.dashboard>.bannerMosaique {
        height: 32vw;
    }
    .mosaique.dashboard>.logoAnameMosaique {
        margin-top: 27vw;
    }
}